.iconColor {
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.54);
    background-color: var(--color);
    border-radius: 50%;
    margin-right: 32px;
    flex-shrink: 0;
    display: inline-flex;
}
